{% extends 'base.html' %}

{% block header %} Login Page {% endblock %}

{% block content %}
    {% if form.errors %}
    <ul>
        {% for field in form %}
            {% for error in form.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %} 
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <a href="{% url 'password_reset' %}">Forgot password?</a>
{% endblock %}