{% extends 'base.html'%}

{% block header %} Confirm Password Reset {% endblock %}

{% block content %}
    {% if validlink %}
        {% if form.errors %}
        <ul>
            {% for field in form %}
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %} 
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Confirm</button>
        </form>
    {% else %}
        <p>Invalid password reset link!</p>
    {% endif %}
{% endblock %}