{% extends 'base.html' %}

{% load static %}

{% block title %} {{ recipe.name }} {% endblock %}

{% block header %} {{ recipe.name }} {% endblock %}

{% block content %}
    <p> {{ recipe.author }} </p>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.ingredient.name }} : {{ ingredient.quantity }}</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'ledger:recipeimage-create' pk=object.pk %}">Add New Image</a>
    {% for image in recipe.image.all %}
        {% if image.image %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}">
        {% endif %}
    {% endfor %}
{% endblock %}